apiVersion: v1
kind: Namespace
metadata:
  name: kyklos-demo
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-test
  namespace: kyklos-demo
  labels:
    app: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:alpine
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: 10m
            memory: 32Mi
          limits:
            cpu: 100m
            memory: 64Mi
